---
import { Puzzle } from "@lucide/astro";
import { Rclone } from "simple-icons-astro";
import { emulators } from "../scripts/getters";
---

<div class="divider sm:my-8 md:my-16"><Puzzle size={48} />Integrations</div>
<ul class="flex flex-wrap gap-2 justify-center-safe px-16">
  <a
    href="https://romm.app/"
    target="_blank"
    class="bg-base-300 rounded-full p-2 flex items-center justify-center gap-2 hover:bg-base-100"
  >
    <img
      class="size-8"
      src="https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/romm.svg"
    />ROMM
  </a>
  <a
    href="https://emulatorjs.org/"
    target="_blank"
    class="bg-base-300 rounded-full p-2 flex items-center justify-center gap-2 hover:bg-base-100"
  >
    <img
      class="size-8"
      src="https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/emulatorjs.svg"
    />
    Emulator JS
  </a>
  <a
    href="https://rclone.org/"
    target="_blank"
    class="bg-base-300 rounded-full p-2 flex items-center justify-center gap-2 hover:bg-base-100"
  >
    <Rclone size="32" />RClone
  </a>
  {
    emulators.map((e) => (
      <a
        class="bg-base-300 rounded-full p-2 flex items-center justify-center gap-2 hover:bg-base-100"
        href={e.homepage}
        target="_blank"
      >
        <img class="size-8" src={e.logo} />
        <div>{e.name}</div>
      </a>
    ))
  }
</ul>
