---
import { ImageIcon } from "@lucide/astro";
import { Image } from "astro:assets";
const images = import.meta.glob("../assets/screenshots/*.webp", {
  eager: true,
});
const metas = import.meta.glob("../assets/screenshots/*.json", {
  eager: true,
});

const items = Object.entries(images).map(([imgPath, img]) => {
  const metaPath = imgPath.replace(/\.(jpg|jpeg|png|webp)$/, ".json");
  const meta = metas[metaPath]?.default ?? {};
  return { image: img.default, meta, path: imgPath };
});
---

<div class="divider sm:my-8 md:my-16"><ImageIcon size={48} />Screenshots</div>
<div
  class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4 sm:p-8 md:p-16"
>
  {
    items.map(({ image, meta }, i) => {
      const element = (
        <a href={image.src} target="_blank">
          <Image
            class="mb-4 w-full rounded-xl"
            alt={meta.alt ?? `Screenshot ${i}`}
            src={image}
            loading="lazy"
          />
        </a>
      );

      return element;
    })
  }
</div>
