---
import {
  Download,
  Joystick,
  Star,
  GitCommitVertical,
  UserPen,
} from "@lucide/astro";
import {
  repoData,
  emulators,
  appContributorsData,
  storeContributorsData,
  totalDownloads,
} from "../scripts/getters";
---

<div
  class="flex flex-wrap gap-8 bg-base-300 justify-center items-center min-h-48 py-8 px-4"
>
  <div class="flex gap-4">
    <Star class="text-primary" size={48} />
    <div class="flex flex-col">
      <span id="stars" class="text-2xl font-semibold"
        >{repoData.stargazers_count}+</span
      >
      <div class="text-base-content/60">GitHub Stars</div>
    </div>
  </div>
  <div class="flex gap-4">
    <Download class="text-primary" size={48} />
    <div class="flex flex-col">
      <span id="downloads" class="text-2xl font-semibold"
        >{totalDownloads}+</span
      >
      <div class="text-base-content/60">Downloads</div>
    </div>
  </div>
  <div class="flex gap-4">
    <Joystick class="text-primary" size={48} />
    <div class="flex flex-col">
      <span id="downloads" class="text-2xl font-semibold"
        >{emulators.length}</span
      >
      <div class="text-base-content/60">Built In Emulators</div>
    </div>
  </div>
  <div class="flex gap-4">
    <GitCommitVertical class="text-primary" size={48} />
    <div class="flex flex-col">
      <span id="downloads" class="text-2xl font-semibold"
        >{
          appContributorsData.reduce(
            (sum: number, user: any) => sum + user.contributions,
            0,
          )
        }</span
      >
      <div class="text-base-content/60">Commits</div>
    </div>
  </div>
  <div class="flex gap-4">
    <UserPen class="text-primary" size={48} />
    <div class="flex flex-col">
      <span id="downloads" class="text-2xl font-semibold"
        >{
          new Set(
            appContributorsData
              .map((c: any) => c.login)
              .concat(storeContributorsData.map((c: any) => c.login)),
          ).size
        }</span
      >
      <div class="text-base-content/60">Contributors</div>
    </div>
  </div>
</div>
