---
import Hero from "./Hero.astro";
import Stats from "./Stats.astro";
import Platforms from "./Platforms.astro";
import Screenshots from "./Screenshots.astro";
import Header from "./Header.astro";
import Integrations from "./Integrations.astro";
import Keywords from "./Keywords.astro";
import Footer from "./Footer.astro";
import Features from "./Features.astro";
import Community from "./Community.astro";
---

<Hero />
<Platforms />
<Stats />
<div class="bg-base-200">
  <div class="hero min-h-[50vh]">
    <div class="hero-content flex-col text-center">
      <div class="text-accent/60 text-lg">What it Does</div>
      <div class="text-4xl font-semibold">Everything you need.</div>
      <div class="text-4xl text-accent font-semibold">
        Without ever leaving the app.
      </div>
    </div>
  </div>
  <Features />
  <Integrations />
  <div class="py-16">
    <Community />
  </div>
  <Screenshots />
</div>
<Keywords />
<Footer />
